<div style="margin-top: 100px"></div>
<div style="text-align: center; margin-top: 26px" class="fixed-top">
  <button
    #createBlog
    mat-fab
    color="accent"
    matTooltip="Create Blog"
    style="margin: 10px;"
    (click)="blogDialog(createBlog, $event.target.innerText)"
  >
    <i class="material-icons">add</i>
  </button>
</div>
<div style="text-align: center" *ngIf="!loading">
  <mat-spinner style="margin: 200px auto"></mat-spinner>
</div>
<div
  *ngFor="let blog of blogs"
  class="col-sm-12 col-md-12 col-lg-6 col-lg-8"
  style="margin-bottom: 20px"
>
  <mat-card style="background-color: rgba(193, 193, 253, 0.356);">
    <mat-card-header>
      <mat-card-title>{{ blog.title | titlecase }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ blog.imageUrl }}" alt="{{ blog.imageUrl }}" />
    <mat-card-content>
      <p>
        {{ blog.desc }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div style="display: flex">
        <span class="spacer"></span>
        <button
          mat-mini-fab
          color="primary"
          class="card-button"
          matTooltip="Edit Blog"
          (click)="blogDialog(createBlog, $event.target.innerText, blog)"
        >
          <i class="material-icons">edit</i>
        </button>
        <button
          mat-mini-fab
          color="warn"
          class="card-button"
          matTooltip="Delete Blog"
          (click)="deleteBlog(blog)"
        >
          <i class="material-icons">delete</i>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
