<div style="text-align: center">
  <mat-spinner style="margin: auto" *ngIf="!initialLoading"></mat-spinner>
  <h1 class="blog-header" *ngIf="blogs.length === 0">
    Create your own Blog here.
  </h1>
</div>
<div *ngFor="let blog of blogs" style="margin-bottom: 20px; width: 100%;">
  <mat-card class="bc">
    <mat-card-header>
      <mat-card-subtitle>
        @{{ blog.creator }} -
        {{ formatTime(blog.created_time) }}
      </mat-card-subtitle>
      <mat-card-title>{{ blog.title | titlecase }}</mat-card-title>
      <span class="spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editBlogDialog(blog)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteBlog(blog)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <hr />
    <img mat-card-image src="{{ blog.image_url }}" alt="" />
    <mat-card-content>
      <p>
        {{ blog.desc }}
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
