<h1 mat-dialog-title>Session Expired</h1>
<p *ngIf="data.message" class="error">{{ data.message }}</p>
<mat-form-field appearance="outline">
  <input
    matInput
    placeholder="Confirm Password"
    [type]="hide ? 'password' : 'text'"
    #password
  />
  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button
    mat-stroked-button
    color="primary"
    [mat-dialog-close]="password.value"
    [disabled]="!password.value"
  >
    Confirm
  </button>
  <button mat-stroked-button (click)="onNoClick()">Cancle</button>
</div>
