<mat-toolbar>
  <a style="cursor: pointer" routerLink="/">Cloud Blogs</a>
  <span class="spacer"></span>
  <button
    mat-raised-button
    class="create"
    matTooltip="Create Blog"
    [disabled]="isLoginMode"
    (click)="createBlogDialog()"
  >
    <mat-icon>post_add</mat-icon>
  </button>
  <div *ngIf="isLoginMode">
    <button mat-stroked-button routerLink="/login">Log In</button>
    <button mat-flat-button routerLink="/signup">Sign Up</button>
  </div>
  <div *ngIf="!isLoginMode">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/{{ getUsername() }}">
        <mat-icon>perm_identity</mat-icon>
        <span>{{ getUsername() }}</span>
      </a>
      <a mat-menu-item routerLink="/settings">
        <mat-icon>settings_applications</mat-icon>
        <span>Settings</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/logout">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
